* {
    margin: 0;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: black;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mainclass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Lgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 30px;
    width: 1000px;
    padding: 30px;
}

.n1 {
    grid-row: 1;
    grid-column: 1;
    background-color: aqua;
}

.n2 {
    grid-row: 2;
    grid-column: 1;
    background-color: red;
}

.n3 {
    grid-row: 1/span 2;
    grid-column: 2;
    background-color: blue;
}

.n4 {
    grid-row: 3;
    grid-column: 1/span 2;
    background-color: violet;
}

.Mgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    width: 1000px;
    padding: 30px;
}

.b1 {
    grid-row: 1;
    grid-column: 1;
    background-color: aqua;
}

.b2 {
    grid-row: 2;
    grid-column: 1;
    background-color: red;
}

.b3 {
    grid-row: 1/span 2;
    grid-column: 2;
    background-color: blue;
}